# Bot configuration
NUKE_TOKEN=""
RAID_TOKEN=""
UTILITY_TOKEN=""

# Verify bot config
VERIFY_ID=""
VERIFY_TOKEN=""
VERIFY_SECRET=""

# API Config
SIGNATURE_SALT=""

# Database configuration
DB_HOST=""
DB_USERNAME=""
DB_PASSWORD=""
# Note: Additional config & port can be configured in config/database.json

# Security bot logs
WEBHOOK_ID=""
WEBHOOK_TOKEN=""

# Member logs in main server
LOG_WEBHOOK_ID=""
LOG_WEBHOOK_TOKEN=""

# Testing rate limits
TEST_WEBHOOK_ID=""
TEST_WEBHOOK_TOKEN=""

# Punishment logs
PUNISHMENT_WEBHOOK_ID=""
PUNISHMENT_WEBHOOK_TOKEN=""

# Doesn't connect to database and skips many checks
DEV = False